<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<select id="getAdminMembers" resultType="member"	parameterType="member">
		SELECT * FROM ( SELECT ROWNUM AS RNUM, A.* FROM (
		SELECT * FROM MEMBER
		<where>
			PASSWORD IS NOT NULL
			<if test="searchCondition == 'userId'">
				AND USER_ID LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'name'">
				AND NAME LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'email'">
				AND EMAIL LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'phoneNum'">
				AND PHONE_NUM LIKE '%' || #{searchKeyword} || '%'
			</if>
		</where>
		) A )WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	<select id="getCntAdminMembers" parameterType="member" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		<where>
			PASSWORD IS NOT NULL
			<if test="searchCondition == 'userId'">
				AND USER_ID LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'name'">
				AND NAME LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'email'">
				AND EMAIL LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test="searchCondition == 'phoneNum'">
				AND PHONE_NUM LIKE '%' || #{searchKeyword} || '%'
			</if>
		</where>
	</select>

	<update id="deleteAdminMembers" parameterType="adminSearch">
		UPDATE MEMBER
		SET 
		PASSWORD = null,
		NAME = null, 
		ADDRESS = null, 
		PHONE_NUM = null, 
		EMAIL = null, 
		INTRODUCTION = null, 
		POSTCODE = null,
		ADDR_DETAIL = null 
		<where>
			USER_ID IN
			<foreach collection="ids" open="(" close=")" separator="," item="item">
				#{item}
			</foreach>
		</where>
	</update>
</mapper> 