<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="invest">

	<resultMap type="java.util.HashMap" id="presentListMap">
		<result column="PRESENT_NO" property="presentNo"/>
		<result column="PRESENT_PRICE" property="presentPrice"/>
		<result column="PRESENT_NAME" property="presentName"/>
		<result column="PROJECT_NO" property="prejectNo"/>
		<result column="DELIVERY_DATE" property="deliveryDate"/>	
	</resultMap>

	<select id="getPresentList" parameterType="invest"	resultMap="presentListMap">
		SELECT	PRESENT.PRESENT_NO 		PRESENT_NO,
				PRESENT.PRESENT_PRICE 	PRESENT_PRICE,
				PRESENT.PRESENT_NAME	PRESENT_NAME,
				PRESENT.PROJECT_NO		PROJECT_NO,
				PROJECT.DELIVERY_DATE	DELIVERY_DATE	
		FROM 	PRESENT JOIN PROJECT
		ON 		PRESENT.PROJECT_NO = PROJECT.PROJECT_NO
		WHERE 	PRESENT.PROJECT_NO = #{projectNo}
		ORDER BY PRESENT.PRESENT_PRICE 
	</select>




	<select id="getInvests" resultType="invest"
		parameterType="invest">

	</select>
	<select id="getCnt" parameterType="invest" resultType="int">

	</select>

	<select id="getInvest" parameterType="invest"
		resultType="invest">

	</select>

	<insert id="insertInvest" parameterType="invest">

	</insert>


	<update id="updateInvest" parameterType="invest">

	</update>

	<delete id="deleteInvest" parameterType="invest">

	</delete>
</mapper> 