<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="present">
	
	<!-- 선물 단건 조회  -->
	<select id="getProject" resultType="string" parameterType="present">
		SELECT * FROM PROJECT WHERE PRESENT_NO = #{presentNo}
	</select>
	
	<!-- 선물 등록  -->
	<insert id="insertPresent" parameterType="present">
		<selectKey keyProperty="presentNo" resultType="string" order="BEFORE">
		  SELECT (TO_CHAR(SYSDATE, 'rrrrMMdd') || LPAD((PRESENT_SEQ.NEXTVAL),4,0)) FROM DUAL;
		</selectKey>
		INSERT INTO PRESENT
		(PRESENT_NO, PRESENT_PRICE, PRESENT_NAME, PROJECT_NO)
		 VALUES 
		 (#{presentNo},
		  #{presentPrice},
		  #{presentName},
		  #{projectNo})
	
	</insert>
	
	<!-- 선물 수정  -->
	<update id="updatePresent" parameterType="present">
		 UPDATE PRESENT
		 SET
		 PRESENT_PRICE = #{presentPrice},
		 PRESENT_NAME = #{presentName},
		 PROJECT_NO	= #{projectNo}
		 WHERE  PRESENT_NO = #{presentNo}
	</update>
	
	<delete id="deletePresent" parameterType="present project">
		DELETE FROM PRESENT
		WHERE 
			<if test="presentNo != null and presentNo != ''">
	  			PRESENT_NO = #{presentNo}
	  		</if>
			<if test="projectNo != null and projectNo != ''">
	  			PROJECT_NO = #{projectNo}
	  		</if>
	</delete>
	
</mapper> 