<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">

	<!-- 프로젝트 단건 조회  -->
	<select id="getProject" resultType="string" parameterType="project">
		SELECT * FROM PROJECT WHERE PROJECT_NO = #{projectNo}
	</select>
	 
	 <!-- 프로젝트  등록  -->
	 <select id="insertProjectProc" statementType="CALLABLE"  parameterType="project">
	 	{CALL insertProject (#{userId})}
	 </select>
	
	<!-- 프로젝트 수정     -->
	<update id="updateProject" parameterType="project">
		 UPDATE PROJECT
		 SET
		 PROJECT_NAME = #{projectName}, 
		 IMAGE #{image}, 
		 TARGET_AMOUNT = #{targetAmount}, 
		 PROJECT_DEADLINE = #{projectDeadline},  
		 INTRODUCTION_VIDEO = #{introductionVideo},  
		 STORY = #{story},
		 DEPOSIT_ACCOUNT = #{depositAccount},
		 BANK_CODE = #{bankCode},
		 PROGRESS = #{progress},
		 USER_ID = #{userId},
		 INTRODUCTION_IMAGE = 
		 <if test="introductionImage != null and introductionImage != ''">
				<foreach collection="introductionImage" open="'" close="'" separator=" " item="introImage">			
					${introImage}
				</foreach>
		</if>,
		 SUPPORT_PICK_YN = #{supportPickYn},
		 DELIVERY_DATE = #{deliveryDate},
		 CATEGORY_CODE = #{categoryCode}
	</update>
	
</mapper> 