<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">
	<select id="getProjects" resultType="project"
		parameterType="com.supportforme.biz.project.ProjectSearchDTO">
		SELECT * FROM ( SELECT ROWNUM AS RNUM, A.* FROM (
		SELECT p.*
		,PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest" FROM project p
		LEFT OUTER JOIN hashtag h
		ON (p.project_no = h.project_no)
		<where>
			(h.hashtag_name like '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'
			or p.project_name like '%' || #{searchKeyword, jdbcType=VARCHAR} ||
			'%')
			<if test="projectNo != null and projectNo != '' ">
				<![CDATA[ 
				and p.project_no > #{projectNo}
				]]>
			</if>
		</where>
		ORDER BY p.project_no
		) A )WHERE rnum BETWEEN #{start} AND #{end}
	</select>

	<!-- 프로젝트 건수 조회 -->
	<select id="getCnt" resultType="int"
		parameterType="com.supportforme.biz.project.ProjectSearchDTO">
		SELECT COUNT(*) FROM PROJECT p LEFT OUTER JOIN hashtag h ON
		(p.project_no = h.project_no)
		<where>
			p.project_name like '%' || #{searchKeyword, jdbcType=VARCHAR}
			|| '%'
			OR h.hashtag_name like '%' || #{searchKeyword,
			jdbcType=VARCHAR} || '%'
		</where>
	</select>

	<!-- 공연 조회 -->
	<select id="getPerformanceProjects" resultType="project">
		SELECT p.*, PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest"
		FROM ( SELECT *
		FROM project
		ORDER BY DBMS_RANDOM.RANDOM ) p
		<where>
				<![CDATA[
				category_code ='d04001' AND rownum < 5
				]]>
		</where>
	</select>
	<!-- 미술 조회 -->
	<select id="getArtProjects" resultType="project">
		SELECT p.*, PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest"
		FROM ( SELECT *
		FROM project
		ORDER BY DBMS_RANDOM.RANDOM ) p
		<where>
				<![CDATA[
				category_code ='d04003' AND rownum < 5		
				]]>
		</where>
	</select>

	<!-- 실시간랭킹 조회 -->
	<select id="getInvsetTop5" resultType="project">
		<![CDATA[	
				SELECT project_no, project_name, image
				FROM (   select i.project_no, count(*) as count ,p.project_name, p.image
    	  	      	from invest i JOIN project p on( i.PROJECT_NO = p.project_no)
     		      	  group by i.project_no, p.project_name, p.image
	      	    	  order by count desc)
		 		WHERE rownum <=5
		 		]]>
	</select>
	<!-- 서포미픽 조회 -->
	<select id="getSupportForMePicks" resultType="project">
		<![CDATA[	
		SELECT project_no, project_name, image, category_code
 		FROM project 
  		WHERE rownum <=5 AND support_pick_yn = 'Y'
  		ORDER BY DBMS_RANDOM.RANDOM
		 		]]>
	</select>

</mapper> 