<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">
	<!-- 검색 무한스크롤, 분야별 전체결과 무한스크롤 -->
	<select id="getProjects" resultType="project"
		parameterType="com.supportforme.biz.project.ProjectSearchDTO">
		SELECT * FROM ( SELECT ROWNUM AS RNUM, A.* FROM (
		SELECT p.*
		,PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest" FROM project p
		<if test="searchKeyword != null and searchKeyword != '' ">
		LEFT OUTER JOIN hashtag h
		ON (p.project_no = h.project_no)
		</if>
		<where>
			<if test="searchKeyword == null or searchKeyword == '' ">
			1 = 0	
			</if>
			<if test="searchKeyword != null and searchKeyword != '' ">
				OR (h.hashtag_name like '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'
					OR p.project_name like '%' || #{searchKeyword, jdbcType=VARCHAR} ||	'%') AND p.progress NOT IN('제작중','보류')
			</if>
			<if test="searchCondition != null and searchCondition != '' ">
				OR p.category_code = #{searchCondition} AND p.progress IN('진행중')
			</if>
			<if test="projectNo != null and projectNo != '' ">
				<![CDATA[ 
				and p.project_no < #{projectNo}
				]]>
			</if>
		</where>
		ORDER BY p.project_no desc
		) A )WHERE rnum BETWEEN #{start} AND #{end}
	</select>

	<!-- 검색한 프로젝트 건수 조회, 분야별 건수 조회 -->
	<select id="getCnt" resultType="int"
		parameterType="com.supportforme.biz.project.ProjectSearchDTO">
			SELECT COUNT(*) FROM PROJECT p 
		
			<if test="searchKeyword != null and searchKeyword != '' ">
			LEFT OUTER JOIN hashtag h ON
			(p.project_no = h.project_no)
			</if>
		<where>
			<if test="searchKeyword == null or searchKeyword == '' ">
				1 = 0	
			</if>
			<if test="searchKeyword != null and searchKeyword != '' ">
				OR (p.project_name like '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'
				OR h.hashtag_name like '%' || #{searchKeyword, jdbcType=VARCHAR} || '%')
				AND p.progress NOT IN('제작중','보류')
			</if>
			<if test="searchCondition != null and searchCondition != '' ">
				OR p.category_code = #{searchCondition} AND p.progress IN('진행중')
			</if>
		</where>	
	</select>

	<!-- 공연 조회 -->
	<select id="getPerformanceProjects" resultType="project">
		SELECT p.*, PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest"
		FROM ( SELECT *
		FROM project
		ORDER BY DBMS_RANDOM.RANDOM ) p
		<where>		
				<![CDATA[
				progress ='진행중' AND
				category_code ='001' AND rownum < 5
				]]>
		</where>
	</select>
	<!-- 미술 조회 -->
	<select id="getArtProjects" resultType="project">
		SELECT p.*, PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest"
		FROM ( SELECT *
		FROM project
		ORDER BY DBMS_RANDOM.RANDOM ) p
		<where>
				<![CDATA[
				progress ='진행중' AND
				category_code ='003' AND rownum < 5		
				]]>
		</where>
	</select>
	<!-- 도서 조회 -->
	<select id="getBookProjects" resultType="project">
		SELECT p.*, PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest"
		FROM ( SELECT *
		FROM project
		ORDER BY DBMS_RANDOM.RANDOM ) p
		<where>
				<![CDATA[
				progress ='진행중' AND
				category_code ='004' AND rownum < 5		
				]]>
		</where>
	</select>
	<!-- 영화 조회 -->
	<select id="getMovieProjects" resultType="project">
		SELECT p.*, PROJECT_PROGRESS_RATE(p.project_no) "percent",
		FUNC_TOTAL_INVSET_AMOUNT(p.project_no) "totalInvest"
		FROM ( SELECT *
		FROM project
		ORDER BY DBMS_RANDOM.RANDOM ) p
		<where>
				<![CDATA[
				progress ='진행중' AND
				category_code ='002' AND rownum < 5		
				]]>
		</where>
	</select>

	<!-- 실시간랭킹 조회 -->
	<select id="getInvsetTop5" resultType="project">
		<![CDATA[	
				SELECT project_no, project_name, image
				FROM (   select i.project_no, count(*) as count ,p.project_name, p.image
    	  	      	from invest i JOIN project p on( i.PROJECT_NO = p.project_no)
    	  	      	where p.progress ='진행중' 
     		      	group by i.project_no, p.project_name, p.image
	      	    	order by count desc)
		 		WHERE rownum <=5 
		 		]]>
	</select>
	<!-- 서포미픽 조회 -->
	<select id="getSupportForMePicks" resultType="project">
		<![CDATA[	
		SELECT project_no, project_name, image, category_code
 		FROM project 
  		WHERE rownum <=5 AND support_pick_yn = 'Y' AND progress ='진행중' 
  		ORDER BY DBMS_RANDOM.RANDOM
		 		]]>
	</select>

</mapper> 