<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectDetail">
	<!-- <select id="getProjectDetail" resultType="com.supportforme.biz.project.ProjectDTO"
								  parameterType="com.supportforme.biz.project.ProjectDTO">
		SELECT PROJECT_NO,
       		   PROJECT_NAME, 
       		   IMAGE, 
       		   TARGET_AMOUNT, 
       		   PROJECT_DEADLINE, 
       		   PROJECT_DEADLINE+7 AS SCHEDULED_PAYMENT_DATE, 
       		   STORY, 
       		   PROGRESS, 
       		   INTRODUCTION_VIDEO,
       		<if test=""></if> 
       		   INTRODUCTION_IMAGE, 
       		   DELIVERY_DATE,
       		   CATEGORY_CODE
		FROM PROJECT
		WHERE PROJECT=
	</select> -->
<!-- 프로젝트 기본정보 불러오기(상단)-->	
<select id="getProjectDetail" resultType="com.supportforme.biz.project.ProjectDTO" parameterType="project">
	<selectKey keyProperty="introductioniVideo" resultType="string" order="BEFORE">
		SELECT INTRODUCTION_VIDEO
		FROM PROJECT
		WHERE PROJECT_NO = #{projectNo}
	</selectKey>
	SELECT PROJECT_NO,
       		   PROJECT_NAME, 
       		   IMAGE, 
       		   TARGET_AMOUNT, 
       		   PROJECT_DEADLINE, 
       		   PROJECT_DEADLINE+7 AS SCHEDULED_PAYMENT_DATE, 
       		   STORY, 
       		   PROGRESS, 
       		   INTRODUCTION_VIDEO,
       		   INTRODUCTION_IMAGE, 
       		   DELIVERY_DATE,
       		   CATEGORY_CODE
		FROM PROJECT
		WHERE PROJECT_NO=#{projectNo}
</select>
	
	
</mapper> 