<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statistics">
	<select id="memberJoinStatisticsMonth" resultType="">
	WITH TEMP AS(
		SELECT USER_ID AS CNT,
				TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'yyyy') AS YY,
				TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'mm') AS MM
	FROM MEMBER
	)
	SELECT
		COUNT(CASE WHEN MM = '01' THEN CNT END) "M01",
		COUNT(CASE WHEN MM = '02' THEN CNT END) "M02",
		COUNT(CASE WHEN MM = '03' THEN CNT END) "M03",
		COUNT(CASE WHEN MM = '04' THEN CNT END) "M04",
		COUNT(CASE WHEN MM = '05' THEN CNT END) "M05",
		COUNT(CASE WHEN MM = '06' THEN CNT END) "M06",
		COUNT(CASE WHEN MM = '07' THEN CNT END) "M07",
		COUNT(CASE WHEN MM = '08' THEN CNT END) "M08",
		COUNT(CASE WHEN MM = '09' THEN CNT END) "M09",
		COUNT(CASE WHEN MM = '10' THEN CNT END) "M10",
		COUNT(CASE WHEN MM = '11' THEN CNT END) "M11",
		COUNT(CASE WHEN MM = '12' THEN CNT END) "M12"
	FROM TEMP
	WHERE YY ='2018'
	GROUP BY YY;
	</select>
	<select id="memberJoinStatisticsWeek" resultType="">
	WITH TEMP2 AS(
		SELECT USER_ID AS CNT,
			TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'yyyy') AS YY,
			TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'mm') AS MM,
			TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'W') AS WW
		FROM MEMBER
	)
	SELECT
			COUNT(CASE WHEN WW = '1' THEN CNT END) "W01",
			COUNT(CASE WHEN WW = '2' THEN CNT END) "W02",
			COUNT(CASE WHEN WW = '3' THEN CNT END) "W03",
			COUNT(CASE WHEN WW = '4' THEN CNT END) "W04",
			COUNT(CASE WHEN WW = '5' THEN CNT END) "W05"
	FROM TEMP2
	WHERE YY = '2018' AND MM ='02'
	GROUP BY YY,MM
	;
	</select>

	<select id="memberJoinStatisticsDay" resultType="">
	WITH TEMP AS(
	SELECT 	USER_ID AS CNT,
			TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'yyyy') AS YY,
			TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'mm') AS MM,
			TO_CHAR(TO_DATE(JOIN_DATE,'rrrr-mm--dd'),'dd') AS DD
	FROM MEMBER
	)
	SELECT
			COUNT(CASE WHEN DD = '01' THEN CNT END) "D01",
			COUNT(CASE WHEN DD = '02' THEN CNT END) "D02",
			COUNT(CASE WHEN DD = '03' THEN CNT END) "D03",
			COUNT(CASE WHEN DD = '04' THEN CNT END) "D04",
			COUNT(CASE WHEN DD = '05' THEN CNT END) "D05",
			COUNT(CASE WHEN DD = '06' THEN CNT END) "D06",
			COUNT(CASE WHEN DD = '07' THEN CNT END) "D07",
			COUNT(CASE WHEN DD = '08' THEN CNT END) "D08",
			COUNT(CASE WHEN DD = '09' THEN CNT END) "D09",
			COUNT(CASE WHEN DD = '10' THEN CNT END) "D10",
			COUNT(CASE WHEN DD = '11' THEN CNT END) "D11",
			COUNT(CASE WHEN DD = '12' THEN CNT END) "D12",
			COUNT(CASE WHEN DD = '13' THEN CNT END) "D13",
			COUNT(CASE WHEN DD = '14' THEN CNT END) "D14",
			COUNT(CASE WHEN DD = '15' THEN CNT END) "D15",
			COUNT(CASE WHEN DD = '16' THEN CNT END) "D16",
			COUNT(CASE WHEN DD = '17' THEN CNT END) "D17",
			COUNT(CASE WHEN DD = '18' THEN CNT END) "D18",
			COUNT(CASE WHEN DD = '19' THEN CNT END) "D19",
			COUNT(CASE WHEN DD = '20' THEN CNT END) "D20",
			COUNT(CASE WHEN DD = '21' THEN CNT END) "D21",
			COUNT(CASE WHEN DD = '22' THEN CNT END) "D22",
			COUNT(CASE WHEN DD = '23' THEN CNT END) "D23",
			COUNT(CASE WHEN DD = '24' THEN CNT END) "D24",
			COUNT(CASE WHEN DD = '25' THEN CNT END) "D25",
			COUNT(CASE WHEN DD = '26' THEN CNT END) "D26",
			COUNT(CASE WHEN DD = '27' THEN CNT END) "D27",
			COUNT(CASE WHEN DD = '28' THEN CNT END) "D28",
			COUNT(CASE WHEN DD = '29' THEN CNT END) "D29",
			COUNT(CASE WHEN DD = '30' THEN CNT END) "D30",
			COUNT(CASE WHEN DD = '31' THEN CNT END) "D31"
	FROM TEMP
	WHERE YY = '2018' AND MM ='01'
	GROUP BY YY,MM
	;
	</select>

	<select id="projectRegMonth" resultType="">
		WITH TEMP AS
		(
		SELECT PROJECT_NO AS "CNT",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'yyyy') AS "YY",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'mm') AS "MM",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'dd') AS "DD",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'W') AS "WW"
		FROM PROJECT
		)
		SELECT
				COUNT(CASE WHEN MM = '01' THEN CNT END) "M01",
				COUNT(CASE WHEN MM = '02' THEN CNT END) "M02",
				COUNT(CASE WHEN MM = '03' THEN CNT END) "M03",
				COUNT(CASE WHEN MM = '04' THEN CNT END) "M04",
				COUNT(CASE WHEN MM = '05' THEN CNT END) "M05",
				COUNT(CASE WHEN MM = '06' THEN CNT END) "M06",
				COUNT(CASE WHEN MM = '07' THEN CNT END) "M07",
				COUNT(CASE WHEN MM = '08' THEN CNT END) "M08",
				COUNT(CASE WHEN MM = '09' THEN CNT END) "M09",
				COUNT(CASE WHEN MM = '10' THEN CNT END) "M10",
				COUNT(CASE WHEN MM = '11' THEN CNT END) "M11",
				COUNT(CASE WHEN MM = '12' THEN CNT END) "M12"
		FROM TEMP
		WHERE YY ='2018'
		GROUP BY YY;
	</select>

	<select id="projectRegWeek" resultType="">
		WITH TEMP AS
		(
		SELECT 
				PROJECT_NO AS "CNT",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'yyyy') AS "YY",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'mm') AS "MM",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'dd') AS "DD",
				TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'W') AS "WW"
		FROM PROJECT
		)
		SELECT
				COUNT(CASE WHEN WW = '1' THEN CNT END) "W01",
				COUNT(CASE WHEN WW = '2' THEN CNT END) "W02",
				COUNT(CASE WHEN WW = '3' THEN CNT END) "W03",
				COUNT(CASE WHEN WW = '4' THEN CNT END) "W04",
				COUNT(CASE WHEN WW = '5' THEN CNT END) "W05"
		FROM TEMP
		WHERE YY = '2018' AND MM ='10'
		GROUP BY YY,MM
		;
	</select>
	<select id="projectRegDay" resultType="">
	WITH TEMP AS
	(
	SELECT PROJECT_NO AS "CNT",
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'yyyy') AS "YY",
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'mm') AS "MM",
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'dd') AS "DD",
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'W') AS "WW"
	FROM PROJECT
	)
	SELECT
			COUNT(CASE WHEN DD = '01' THEN CNT END) "D01",
			COUNT(CASE WHEN DD = '02' THEN CNT END) "D02",
			COUNT(CASE WHEN DD = '03' THEN CNT END) "D03",
			COUNT(CASE WHEN DD = '04' THEN CNT END) "D04",
			COUNT(CASE WHEN DD = '05' THEN CNT END) "D05",
			COUNT(CASE WHEN DD = '06' THEN CNT END) "D06",
			COUNT(CASE WHEN DD = '07' THEN CNT END) "D07",
			COUNT(CASE WHEN DD = '08' THEN CNT END) "D08",
			COUNT(CASE WHEN DD = '09' THEN CNT END) "D09",
			COUNT(CASE WHEN DD = '10' THEN CNT END) "D10",
			COUNT(CASE WHEN DD = '11' THEN CNT END) "D11",
			COUNT(CASE WHEN DD = '12' THEN CNT END) "D12",
			COUNT(CASE WHEN DD = '13' THEN CNT END) "D13",
			COUNT(CASE WHEN DD = '14' THEN CNT END) "D14",
			COUNT(CASE WHEN DD = '15' THEN CNT END) "D15",
			COUNT(CASE WHEN DD = '16' THEN CNT END) "D16",
			COUNT(CASE WHEN DD = '17' THEN CNT END) "D17",
			COUNT(CASE WHEN DD = '18' THEN CNT END) "D18",
			COUNT(CASE WHEN DD = '19' THEN CNT END) "D19",
			COUNT(CASE WHEN DD = '20' THEN CNT END) "D20",
			COUNT(CASE WHEN DD = '21' THEN CNT END) "D21",
			COUNT(CASE WHEN DD = '22' THEN CNT END) "D22",
			COUNT(CASE WHEN DD = '23' THEN CNT END) "D23",
			COUNT(CASE WHEN DD = '24' THEN CNT END) "D24",
			COUNT(CASE WHEN DD = '25' THEN CNT END) "D25",
			COUNT(CASE WHEN DD = '26' THEN CNT END) "D26",
			COUNT(CASE WHEN DD = '27' THEN CNT END) "D27",
			COUNT(CASE WHEN DD = '28' THEN CNT END) "D28",
			COUNT(CASE WHEN DD = '29' THEN CNT END) "D29",
			COUNT(CASE WHEN DD = '30' THEN CNT END) "D30",
			COUNT(CASE WHEN DD = '31' THEN CNT END) "D31"
	FROM TEMP
	WHERE YY = '2018' AND MM ='01'
	GROUP BY YY,MM
	;	
	</select>
	
	<select id="projectFailRateMonth" resultType="">
	WITH TEMP AS
	(
	SELECT PROGRESS CNT1, PROJECT_NO CNT2,
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'yyyy') AS "YY",
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'mm') AS "MM",
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'dd') AS "DD",
			TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'W') AS "WW"
	FROM PROJECT
	)
	SELECT
			ROUND(NVL(( COUNT(CASE WHEN MM = '01' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '01' THEN CNT2 END),0)*100),0),2)	"M01",	
			ROUND(NVL(( COUNT(CASE WHEN MM = '02' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '02' THEN CNT2 END),0)*100),0),2)	"M02",
			ROUND(NVL(( COUNT(CASE WHEN MM = '03' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '03' THEN CNT2 END),0)*100),0),2)	"M03",
			ROUND(NVL(( COUNT(CASE WHEN MM = '04' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '04' THEN CNT2 END),0)*100),0),2)	"M04",
			ROUND(NVL(( COUNT(CASE WHEN MM = '05' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '05' THEN CNT2 END),0)*100),0),2)	"M05",
			ROUND(NVL(( COUNT(CASE WHEN MM = '06' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '06' THEN CNT2 END),0)*100),0),2)	"M06",
			ROUND(NVL(( COUNT(CASE WHEN MM = '07' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '07' THEN CNT2 END),0)*100),0),2)	"M07",
			ROUND(NVL(( COUNT(CASE WHEN MM = '08' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '08' THEN CNT2 END),0)*100),0),2)	"M08",
			ROUND(NVL(( COUNT(CASE WHEN MM = '09' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '09' THEN CNT2 END),0)*100),0),2)	"M09",
			ROUND(NVL(( COUNT(CASE WHEN MM = '10' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '10' THEN CNT2 END),0)*100),0),2)	"M10",
			ROUND(NVL(( COUNT(CASE WHEN MM = '11' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '11' THEN CNT2 END),0)*100),0),2)	"M11",
			ROUND(NVL(( COUNT(CASE WHEN MM = '12' AND CNT1='003' THEN CNT1	END)/NULLIF(COUNT(CASE WHEN MM = '12' THEN CNT2 END),0)*100),0),2)	"M12"
	FROM TEMP
	WHERE YY = '2018'
	GROUP BY YY;
	
	</select>
	<select id="projectFailRateWeek" resultType="">
	WITH TEMP AS
	(
  	SELECT PROGRESS  CNT1,  PROJECT_NO CNT2,
		    TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'yyyy') AS "YY",
    		TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'mm') AS "MM",
    		TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'dd') AS "DD",
    		TO_CHAR(TO_DATE(SUBSTR(PROJECT_NO,1,8),'yyyymmdd'),'W') AS "WW"
  	FROM PROJECT
	)
	SELECT
		ROUND(NVL(( COUNT(CASE   WHEN WW = '1' AND CNT1='003' THEN CNT1 END)/NULLIF(COUNT(CASE   WHEN WW = '1' THEN CNT2 END),0)*100),0),2) "W01",
		ROUND(NVL(( COUNT(CASE   WHEN WW = '2' AND CNT1='003' THEN CNT1 END)/NULLIF(COUNT(CASE   WHEN WW = '2' THEN CNT2 END),0)*100),0),2) "W02",
		ROUND(NVL(( COUNT(CASE   WHEN WW = '3' AND CNT1='003' THEN CNT1 END)/NULLIF(COUNT(CASE   WHEN WW = '3' THEN CNT2 END),0)*100),0),2) "W03",
		ROUND(NVL(( COUNT(CASE   WHEN WW = '4' AND CNT1='003' THEN CNT1 END)/NULLIF(COUNT(CASE   WHEN WW = '4' THEN CNT2 END),0)*100),0),2) "W04",
		ROUND(NVL(( COUNT(CASE   WHEN WW = '5' AND CNT1='003' THEN CNT1 END)/NULLIF(COUNT(CASE   WHEN WW = '5' THEN CNT2 END),0)*100),0),2) "W05"
	FROM TEMP
	WHERE YY = '2018' AND MM ='11'
	GROUP BY YY,MM
	;
	</select>
	
	
	
	<select id="projectFailRateWeek" resultType="">
	
	</select>
	
	
	
</mapper> 